<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>floor/grassbehind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,134}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{960,134}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>floor/grassfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{960,70}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{960,70}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>prince/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,164},{76,138}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{76,138}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,90},{72,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{86,140}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{86,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,164},{76,138}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{76,138}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,90},{72,140}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{86,140}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{86,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>stuffs/basketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>stuffs/missle.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,964},{38,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,80}}</string>
                <key>sourceSize</key>
                <string>{38,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbb298731927983539e6cd804ed4a9e6$</string>
            <key>textureFileName</key>
            <string>objects-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
