<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,964},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,292},{26,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,226},{32,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,192},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,964},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,260},{30,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,964},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,158},{32,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,964},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,964},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>floor/grassbehind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,134}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{960,134}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>floor/grassfront.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{960,70}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{960,70}}</string>
                <key>sourceSize</key>
                <string>{960,150}</string>
            </dict>
            <key>numbers/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,964},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,292},{26,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,3},{26,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,226},{32,44}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,192},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,964},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,260},{30,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{30,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,964},{34,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{34,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,158},{32,44}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,964},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>numbers/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,964},{32,44}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{32,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>prince/left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,80},{76,138}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{76,138}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,198},{72,140}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{72,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,90},{86,140}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{86,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{76,138}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{76,138}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,178},{72,140}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{72,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>prince/right_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{86,140}}</string>
                <key>offset</key>
                <string>{4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{86,140}}</string>
                <key>sourceSize</key>
                <string>{100,150}</string>
            </dict>
            <key>stuffs/basketball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>stuffs/missle.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,158},{38,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,80}}</string>
                <key>sourceSize</key>
                <string>{38,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>objects-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0facbfaa7ec86b42360e4b66d21bc03f$</string>
            <key>textureFileName</key>
            <string>objects-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
